Repository AustinOrphan/running-app-mvp, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, frontend, backend, testing, database, auth, UI/UX, security, performance, accessibility, mobile, technical-debt, tooling, observability, documentation, api-change, migration, config, hotfix, breaking-change

.github/labeler.yml:

# Auto-labeler configuration for GitHub Actions labeler@v5
# Uses existing repository labels

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'
          - '.github/dependabot.yml'

# Frontend changes
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**/*'
          - 'public/**/*'
          - 'index.html'
          - 'vite.config.ts'
          - '*.html'

# Backend changes
backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'routes/**/*'
          - 'middleware/**/*'
          - 'server.ts'
          - 'server/**/*'

# Testing
testing:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/*.test.ts'
          - '**/*.test.tsx'
          - '**/*.spec.ts'
          - '**/*.spec.tsx'
          - 'jest.config.js'
          - 'playwright.config.ts'
          - 'vitest.config.ts'

# Database
database:
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/**/*'
          - 'prisma.schema'
          - '**/*migration*'
          - '**/*schema*'

# Authentication
auth:
  - changed-files:
      - any-glob-to-any-file:
          - 'middleware/auth*'
          - 'server/middleware/auth*'
          - 'routes/auth*'
          - 'server/routes/auth*'
          - 'middleware/requireAuth*'
          - 'server/middleware/requireAuth*'
          - 'src/components/Auth/**/*'
          - 'src/hooks/useAuth*'
          - 'src/pages/Login*'
          - 'src/pages/Register*'

# UI/UX
UI/UX:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/components/**/*'
          - 'src/styles/**/*'
          - '**/*.css'
          - '**/*.scss'
          - '**/*.sass'
          - '**/*.less'
          - 'tailwind.config.js'
          - 'postcss.config.js'

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'middleware/security*'
          - 'server/middleware/security*'
          - '**/*security*'
          - '**/*vulnerability*'
          - '**/*cors*'
          - '**/*helmet*'

# Performance
performance:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*performance*'
          - '**/*optimization*'
          - '**/*lazy*'
          - '**/*memo*'
          - '**/*cache*'

# Accessibility
accessibility:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*a11y*'
          - '**/*accessibility*'
          - '**/*axe*'
          - 'tests/unit/accessibility/**/*'
          - 'tests/e2e/accessibility*'

# Mobile
mobile:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*mobile*'
          - '**/*responsive*'
          - '**/*touch*'
          - '**/*swipe*'
          - 'src/styles/mobile*'

# Technical debt
technical-debt:
  - changed-files:
      - any-glob-to-any-file:
          - 'refactor/**/*'
          - 'cleanup/**/*'
          - 'legacy/**/*'
          - 'deprecated/**/*'

# Tooling
tooling:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**/*'
          - 'scripts/**/*'
          - 'tools/**/*'
          - '.github/actions/**/*'

# Observability
observability:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*logger*'
          - '**/*logging*'
          - '**/*monitoring*'
          - '**/*analytics*'
          - '**/*error*'
          - '**/*telemetry*'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**/*'
          - 'README*'
          - 'CHANGELOG*'
          - 'CONTRIBUTING*'
          - 'LICENSE*'

# API changes
api-change:
  - changed-files:
      - any-glob-to-any-file:
          - 'routes/**/*'
          - 'server/routes/**/*'
          - 'src/api/**/*'
          - 'middleware/**/*'
          - 'server/middleware/**/*'
          - '**/*endpoint*'
          - '**/*route*'

# Migration
migration:
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/migrations/**/*'
          - 'prisma/schema.prisma'
          - '**/*migration*'
          - '**/*schema*'

# Configuration
config:
  - changed-files:
      - any-glob-to-any-file:
          - '.env*'
          - '*.config.ts'
          - '*.config.js'
          - 'tsconfig.json'
          - '.eslintrc*'
          - '.prettierrc*'
          - 'vite.config.ts'
          - 'webpack.config.js'
          - 'rollup.config.js'

# Hotfix
hotfix:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*hotfix*'
          - '**/*urgent*'
          - '**/*emergency*'

# Breaking changes
breaking-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*breaking*'
          - 'BREAKING*'
          - 'CHANGELOG*'
# Size labels (will be applied by workflow logic, not file patterns)
# size-small, size-medium, size-large

# Status labels (will be applied by workflow logic, not file patterns)
# work-in-progress, needs-review, needs-reproduction

# Community contributions (applied by workflow logic based on author)
# community

# Stale (applied by stale workflow)
# stale

fix: use development server for backend in CI
  .github/workflows/performance.yml
Labels: performance, tooling

fix: remove unused parameter in memory test
  tests/memory/memory-check.mjs
Labels: testing, performance

fix: correct template literal syntax in globalSetup.ts
  tests/setup/globalSetup.ts
Labels: testing

chore: run eslint and prettier formatting
  .github/workflows/claude-code-review.yml
  .github/workflows/license-check.yml
  tests/memory/memory-check.mjs
  tests/performance/benchmark.mjs
  tests/setup/globalSetup.ts
Labels: testing, performance, tooling

fix: ensure Prisma migrations run before CI tests
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  tests/setup/globalSetup.ts
Labels: testing, performance, tooling

fix: resolve JWT authentication issues in integration tests
  tests/fixtures/testDatabase.ts
  tests/integration/api/races.test.ts
Labels: testing

fix: resolve GPL license violations for commercial compliance
  eslint.config.quality.js
  package-lock.json
  package.json
Labels: dependencies

fix: resolve multiple CI pipeline failures
  .github/workflows/deploy-rolling.yml.disabled
  .github/workflows/performance.yml
  .github/workflows/sonarqube.yml.disabled
  CLAUDE.md
  license-report.json
  prisma/migrations/migration_lock.toml
  tests/fixtures/testDatabase.ts.bak
  tests/integration/api/goals.test.ts
  tests/integration/api/races.test.ts.backup
  tests/integration/api/runs.test.ts
  tests/integration/api/stats.test.ts
  tests/unit/errorHandling.test.ts
Labels: testing, database, performance, tooling, observability, documentation, migration

feat: add advanced CI/CD pipeline enhancements
  .bundlesizerc.json
  .github/actions/setup-project/action.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/cost-optimization.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/monitoring.yml
Labels: performance, tooling, observability

fix: disable production logging in ClientLogger to prevent test failures
  .github/workflows/coverage-check.yml
  TEST_IMPROVEMENT_PLAN.md
  coverage-analysis.md
  coverage-integration/base.css
  coverage-integration/block-navigation.js
  coverage-integration/coverage-final.json
  coverage-integration/favicon.png
  coverage-integration/index.html
  coverage-integration/middleware/asyncHandler.ts.html
  coverage-integration/middleware/errorHandler.ts.html
  coverage-integration/middleware/index.html
  coverage-integration/middleware/rateLimiting.ts.html
  coverage-integration/middleware/requireAuth.ts.html
  coverage-integration/middleware/validateBody.ts.html
  coverage-integration/middleware/validation.ts.html
  coverage-integration/prettify.css
  coverage-integration/prettify.js
  coverage-integration/routes/auth.ts.html
  coverage-integration/routes/goals.ts.html
  coverage-integration/routes/index.html
  coverage-integration/routes/races.ts.html
  coverage-integration/routes/runs.ts.html
  coverage-integration/routes/stats.ts.html
  coverage-integration/sort-arrow-sprite.png
  coverage-integration/sorter.js
  coverage-integration/utils/apiFetch.ts.html
  coverage-integration/utils/index.html
  coverage-integration/utils/logger.ts.html
  coverage-integration/utils/secureLogger.ts.html
  src/utils/clientLogger.ts
  tests/integration/api/runs.test.ts.bak
  tests/integration/api/stats.test.ts.bak
Labels: frontend, testing, UI/UX, tooling, observability, documentation

fix: add test environment check for clientLogger production logging
  src/utils/clientLogger.ts
Labels: frontend

feat: comprehensive testing infrastructure analysis and strategy
  TESTING_INFRASTRUCTURE_SUMMARY.md
  TESTING_STRATEGY.md
Labels: documentation
