Repository AustinOrphan/running-app-mvp, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, frontend, backend, testing, database, auth, UI/UX, security, performance, accessibility, mobile, technical-debt, tooling, observability, documentation, api-change, migration, config, hotfix, breaking-change

fix: add missing permissions to PR validation workflow
  .github/workflows/pr-validation.yml
Labels: tooling

fix: add DATABASE_URL to all workflow jobs that run npm build
  .github/workflows/deploy-rolling.yml
  .github/workflows/deploy.yml
  .github/workflows/maintenance.yml
  .github/workflows/performance.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: performance, tooling

fix: add permissions to license-check workflow
  .github/workflows/license-check.yml
Labels: tooling

fix: add DATABASE_URL to remaining workflow jobs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/performance.yml
  .github/workflows/pr-validation.yml
  .github/workflows/test.yml
Labels: performance, tooling

fix: add guards to mockRestore calls in tests
  tests/integration/errorHandling.test.ts
  tests/unit/utils/secureLogger.test.ts
Labels: testing, observability

fix: resolve accessibility and integration test failures
  .eslintignore
  .github/workflows/performance.yml
  src/components/UI/Input.tsx
  tests/accessibility/input-a11y.test.tsx
  tests/integration/errorHandling.test.ts
Labels: frontend, testing, UI/UX, performance, accessibility, tooling, observability

fix: major CI test improvements and fixes
  package.json
  scripts/setup-test-db.ts
  src/components/CreateGoalModal.tsx
  tests/fixtures/testDatabase.ts
  tests/infrastructure/startup.test.ts
  tests/setup/cssModuleMock.ts
  tests/setup/jestSetup.ts
  tests/unit/components/CreateGoalModal.test.tsx
  tests/unit/css-modules/css-module-migration.test.tsx
  tsconfig.eslint.json
  vite.config.ts
  vitest.setup.ts
Labels: dependencies, frontend, testing, database, UI/UX, tooling, migration, config

fix: resolve database connectivity issues in CI integration tests
  .github/workflows/test.yml
  tests/fixtures/testDatabase.ts
  tests/setup/jestSetup.ts
Labels: testing, tooling

fix: resolve CI test failures with improved patterns
  src/components/UI/Card.tsx
  tests/unit/components/Stats/RunTypeBreakdownChart.test.tsx
Labels: frontend, testing, UI/UX

fix: complete SQLite migration for A11Y tests in CI
  .github/workflows/test.yml
Labels: tooling

fix: resolve remaining CI test failures
  .github/workflows/test.yml
  tests/security.test.js
  tests/unit/accessibility/components.a11y.test.tsx
Labels: testing, security, accessibility, tooling

fix: resolve CSS modules and apiFetch test failures
  tests/unit/components/GoalCard.test.tsx
  tests/unit/components/UI/Card.test.tsx
  tests/unit/utils/apiFetch.test.ts
Labels: testing

fix: correct localStorage key for auth token in apiFetch test
  tests/unit/utils/apiFetch.test.ts
Labels: testing

fix: correct progress bar style tests and CSS class expectations
  tests/unit/components/GoalCard.test.tsx
  tests/unit/components/UI/Card.test.tsx
Labels: testing

fix: resolve accessibility and unit test failures
  src/components/UI/Card.tsx
  tests/unit/components/GoalCard.test.tsx
  tests/unit/components/UI/Card.test.tsx
Labels: frontend, testing, UI/UX

fix: resolve CI pipeline test failures and improve test reliability
  .github/workflows/license-check.yml
  .github/workflows/sonarqube.yml
  server.ts
  tests/security.test.js
  tests/unit/components/CreateGoalModal.test.tsx
  tests/unit/components/Stats/TrendsChart.test.tsx
  tests/unit/hooks/useGoals.simple.test.ts
  tests/unit/hooks/useGoals.test.ts
Labels: backend, testing, security, tooling

fix: update DATABASE_URL format in PR validation workflow
  .github/workflows/pr-validation.yml
Labels: tooling

fix: resolve remaining test failures and improve test reliability
  src/components/UI/Card.tsx
  tests/accessibility/card-a11y.test.tsx
  tests/unit/hooks/useGoals.test.ts
Labels: frontend, testing, UI/UX, accessibility

fix: resolve remaining CI pipeline failures
  licenses.json
  playwright.config.ts
  tests/accessibility/card-a11y.test.tsx
Labels: testing, accessibility, config

fix: resolve useGoals test failures
  tests/unit/components/Stats/InsightsCard.test.tsx
  tests/unit/hooks/useGoals.test.ts
Labels: testing

fix: resolve CreateGoalModal form validation test failures
  tests/unit/components/CreateGoalModal.test.tsx
Labels: testing

fix: resolve remaining Stats component test failures
  tests/unit/components/Stats/InsightsCard.test.tsx
  tests/unit/components/Stats/RunTypeBreakdownChart.test.tsx
Labels: testing

fix: resolve security test JWT secret and SQL injection failures
  tests/security.test.js
Labels: testing, security

fix: resolve Card accessibility and CreateGoalModal typing test failures
  src/components/UI/Card.tsx
  tests/unit/components/CreateGoalModal.test.tsx
Labels: frontend, testing, UI/UX

fix: resolve CreateGoalModal input typing test failures with fireEvent
  tests/unit/components/CreateGoalModal.test.tsx
Labels: testing

fix: resolve critical CI/CD pipeline issues
  .github/workflows/pr-validation.yml
  tests/setup/jestSetup.ts
  vite.config.ts
Labels: frontend, testing, tooling, config

fix: resolve remaining test failures
  src/components/UI/Input.tsx
  tests/unit/components/Stats/PersonalRecordsTable.test.tsx
  tests/unit/components/UI/Input-enhanced.test.tsx
Labels: frontend, testing, UI/UX

fix: resolve remaining CI test failures
  tests/unit/components/CreateGoalModal.test.tsx
  tests/unit/components/Stats/InsightsCard.test.tsx
Labels: testing

fix: resolve CI test failures for CreateGoalModal and InsightsCard
  tests/unit/components/CreateGoalModal.test.tsx
  tests/unit/components/Stats/InsightsCard.test.tsx
Labels: testing

fix: resolve remaining CI/CD issues
  .lighthouserc.json
  tests/fixtures/testDatabase.ts
  tests/unit/components/CreateGoalModal.test.tsx
Labels: testing

fix: add waitFor to CreateGoalModal date update test
  tests/unit/components/CreateGoalModal.test.tsx
Labels: testing

fix: handle missing Race table in integration test setup
  tests/setup/jestSetup.ts
Labels: testing

fix: improve CreateGoalModal cancel button test timing
  tests/unit/components/CreateGoalModal.test.tsx
Labels: testing

fix: improve integration test database cleanup error handling
  tests/e2e/navigation-swipe.test.ts
  tests/setup/jestSetup.ts
Labels: testing, mobile

fix: resolve mobile E2E test device config and security vulnerability
  package-lock.json
  tests/e2e/mobile-responsiveness.test.ts
Labels: dependencies, testing, mobile

fix: resolve CI pipeline workflow failures and missing scripts
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  package.json
Labels: dependencies, performance, tooling

fix: resolve Playwright test.use() error and package.json issues
  package.json
  test-results/.last-run.json
  tests/e2e/mobile-responsiveness.test.ts
Labels: dependencies, testing, mobile

fix: resolve remaining CI pipeline failures
  .github/workflows/performance.yml
  .github/workflows/pr-validation.yml
  playwright.config.ts
  tests/reporters/accessibility-reporter.ts
  tests/unit/components/CreateGoalModal.test.tsx
Labels: testing, performance, accessibility, tooling, config

fix: resolve remaining CI pipeline failures
  .env.test
  .github/workflows/claude-code-review.yml
  .github/workflows/deploy-rolling.yml.disabled
  .github/workflows/license-check.yml
  .github/workflows/performance.yml
  .github/workflows/sonarqube.yml.disabled
  jest.config.js
  playwright.config.ts
  tests/setup/globalSetup.ts
  tests/setup/jestSetup.backup.ts
Labels: testing, performance, tooling, config

fix: resolve performance monitoring CI failures
  .github/workflows/performance.yml
  package.json
  tests/memory/memory-check.mjs
  tests/performance/benchmark.mjs
Labels: dependencies, testing, performance, tooling

.github/labeler.yml:

# Auto-labeler configuration for GitHub Actions labeler@v5
# Uses existing repository labels

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'
          - '.github/dependabot.yml'

# Frontend changes
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**/*'
          - 'public/**/*'
          - 'index.html'
          - 'vite.config.ts'
          - '*.html'

# Backend changes
backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'routes/**/*'
          - 'middleware/**/*'
          - 'server.ts'
          - 'server/**/*'

# Testing
testing:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/*.test.ts'
          - '**/*.test.tsx'
          - '**/*.spec.ts'
          - '**/*.spec.tsx'
          - 'jest.config.js'
          - 'playwright.config.ts'
          - 'vitest.config.ts'

# Database
database:
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/**/*'
          - 'prisma.schema'
          - '**/*migration*'
          - '**/*schema*'

# Authentication
auth:
  - changed-files:
      - any-glob-to-any-file:
          - 'middleware/auth*'
          - 'server/middleware/auth*'
          - 'routes/auth*'
          - 'server/routes/auth*'
          - 'middleware/requireAuth*'
          - 'server/middleware/requireAuth*'
          - 'src/components/Auth/**/*'
          - 'src/hooks/useAuth*'
          - 'src/pages/Login*'
          - 'src/pages/Register*'

# UI/UX
UI/UX:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/components/**/*'
          - 'src/styles/**/*'
          - '**/*.css'
          - '**/*.scss'
          - '**/*.sass'
          - '**/*.less'
          - 'tailwind.config.js'
          - 'postcss.config.js'

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'middleware/security*'
          - 'server/middleware/security*'
          - '**/*security*'
          - '**/*vulnerability*'
          - '**/*cors*'
          - '**/*helmet*'

# Performance
performance:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*performance*'
          - '**/*optimization*'
          - '**/*lazy*'
          - '**/*memo*'
          - '**/*cache*'

# Accessibility
accessibility:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*a11y*'
          - '**/*accessibility*'
          - '**/*axe*'
          - 'tests/unit/accessibility/**/*'
          - 'tests/e2e/accessibility*'

# Mobile
mobile:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*mobile*'
          - '**/*responsive*'
          - '**/*touch*'
          - '**/*swipe*'
          - 'src/styles/mobile*'

# Technical debt
technical-debt:
  - changed-files:
      - any-glob-to-any-file:
          - 'refactor/**/*'
          - 'cleanup/**/*'
          - 'legacy/**/*'
          - 'deprecated/**/*'

# Tooling
tooling:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**/*'
          - 'scripts/**/*'
          - 'tools/**/*'
          - '.github/actions/**/*'

# Observability
observability:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*logger*'
          - '**/*logging*'
          - '**/*monitoring*'
          - '**/*analytics*'
          - '**/*error*'
          - '**/*telemetry*'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**/*'
          - 'README*'
          - 'CHANGELOG*'
          - 'CONTRIBUTING*'
          - 'LICENSE*'

# API changes
api-change:
  - changed-files:
      - any-glob-to-any-file:
          - 'routes/**/*'
          - 'server/routes/**/*'
          - 'src/api/**/*'
          - 'middleware/**/*'
          - 'server/middleware/**/*'
          - '**/*endpoint*'
          - '**/*route*'

# Migration
migration:
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/migrations/**/*'
          - 'prisma/schema.prisma'
          - '**/*migration*'
          - '**/*schema*'

# Configuration
config:
  - changed-files:
      - any-glob-to-any-file:
          - '.env*'
          - '*.config.ts'
          - '*.config.js'
          - 'tsconfig.json'
          - '.eslintrc*'
          - '.prettierrc*'
          - 'vite.config.ts'
          - 'webpack.config.js'
          - 'rollup.config.js'

# Hotfix
hotfix:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*hotfix*'
          - '**/*urgent*'
          - '**/*emergency*'

# Breaking changes
breaking-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*breaking*'
          - 'BREAKING*'
          - 'CHANGELOG*'
# Size labels (will be applied by workflow logic, not file patterns)
# size-small, size-medium, size-large

# Status labels (will be applied by workflow logic, not file patterns)
# work-in-progress, needs-review, needs-reproduction

# Community contributions (applied by workflow logic based on author)
# community

# Stale (applied by stale workflow)
# stale
